form {
  margin-top: 10px;
  display: flex;
  
  justify-content: center;
}
.reg{

display: flex;
height: 370px;
width: 700px;
border-style: groove;
border-width: 3px;
background-color: aqua;

}
.detail{
    flex-direction: column;
}
input::placeholder{
    
    color: black;
}

