<div class="body">
  <div class="search-container">
    <p class="text-white ">I'm looking for...</p>
    <input type="text" placeholder="Enter a Job Description" />
    <button class="btn btn-primary ms-5" >Search</button>
    <div class="checkboxes">
      <input id="ch1" type="checkbox" id="checkbox1" />
      <label class="text-white "for="checkbox1">Full Time </label>

      <input id="ch2"  type="checkbox" id="checkbox2" />
      <label class="text-white " for="checkbox2">Part time/casual/freelance</label>

      <select id="location">
        <option value="">Select your Location</option>
        <option value="Pune">Pune</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Banglore">Banglore</option>
      </select>
    </div>
    <button class="btn btn-primary mt-5 " routerLink="/register">Register</button>
  </div>
</div>
<section class="company-intro ">
    <h3 id="com">We're leaders ,<br>in Creative Digital Recruitment</h3>
    <h4 >Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity,<br> and that reflects on the type of jobs we recruit for.</h4>
    <button class="btn btn-secondary mt-3">FIND OUT MORE ABOUT US</button>
</section>




